@import "tailwindcss";

:root {
  --bg: linear-gradient(135deg, #dbeafe 0%, #f3e8ff 100%);
  --text: #111111;
}

.dark {
  --bg: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
  --text: #e2e8f0;
}

.light {
  --bg: linear-gradient(135deg, #e8f0fa 0%, #f3e8ff 100%);
  --text: #111111;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* Animasi marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
